.tab-list {
    min-width: 600px;
    margin-top: 15px;
    border: 2px solid #cecece;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-list a {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    margin: 0;
}

.tab-list a:hover {
    border: none;
    margin: 0;
}