.tab-list {
    min-width: 600px;
    margin-top: 15px;
    border: 1px solid #cecece;
}

.tab-list a {
    margin: 0;
}

.tab-list a:hover {
    border: none;
    margin: 0;
}

.tab-list .active {
    background-color: #f2f2f2 !important;
    color: #66cdaa !important;
    font-weight: bold;
}

.tab-item {
    padding: 5px;
}

.tab-content {
    border: 1px solid #cecece;
    height: 90%;
    overflow-y: auto;
}

.tab-content > div {
    background-color: transparent !important;
}